* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-button: #f5f5f5;
  --blue-button: #4891ff;
  --bg-black: #131316;
  --card-bg--white: #fafafa;
  --secondary-bg--white: #f4f4f6;
  --card-border--color: #dfdee2;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-size: 16px;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  max-width: 100%;
}

/* navbar */
.navbar {
  background: #fff;
  padding: 20px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar ul li a {
  padding: 10px 20px;
  display: block;
  font-weight: 600;
}

.navbar ul li a:hover {
  color: var(--blue-button);
}

.navbar ul li:last-child a {
  margin-left: 10px;
}

/* Hero */
.hero {
  margin-bottom: 50px;
}

.hero .container {
  background: url("/image/hero.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  height: 550px;
}

.hero-content {
  width: 70%;
}

.hero-text {
  width: 70%;
  margin-bottom: 20px;
}

/* Video/CTA */
.video {
  padding: 40px 0 50px;
}

.video-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.video .video-preview {
  margin-bottom: 20px;
}

.video .video-bb {
  width: 100%;

  border-bottom: 1px solid #333;
  padding-top: 30px;
}

/* Testimonial */
.testimonial {
  padding: 40px 0 60px;
}

.testimonial .testimonial-heading {
  width: 700px;
  margin-bottom: 40px;
}

.testimonial .testimonial-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.testimonial .card p:nth-child(1) {
  font-style: italic;
}

.testimonial .card p:nth-child(2) {
  margin-top: 25px;
  font-weight: bold;
}

/* Pricing */
.pricing {
  padding: 20px;
}
.pricing .pricing-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 50px;
}

.pricing .pricing-card-subheading {
  margin-bottom: 30px;
}

.pricing .pricing-card-price {
  padding: 20px 0;
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
}

.pricing ul {
  margin: 30px 0;
}

.pricing ul li {
  margin-bottom: 20px;
}

.pricing ul li i {
  margin-right: 10px;
}

.pricing .pricing-footer {
  margin: 40px 0;
}

/* FAQ */
.faq {
  padding: 40px 0;
}

.faq .faq-group {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.faq-group .faq-group-header {
  padding: 20px 0;
  margin-bottom: 15px;
  position: relative;
}

.faq-group .faq-group-header h4 {
  width: 95%;
  font-weight: 600;
}

.faq-group .faq-group-header i {
  position: absolute;
  right: 0;
  top: 40px;
  cursor: pointer;
  font-size: 1.3rem;
}

.faq .faq-group .faq-group-body {
  display: none;
}

.faq .faq-group .faq-group-body.open {
  display: block;
}

.faq ul.faq-menu {
  max-width: 400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ddd;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.faq ul.faq-menu li {
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.faq ul.faq-menu li.active {
  background: var(--blue-button);
  color: #fff;
}

/* Footer */
.footer {
  padding: 50px 0 10px;
}

.footer h4 {
  margin-bottom: 10px;
}

.footer ul li {
  list-style: none;
  line-height: 2.5;
}

.footer a {
  color: #ccc;
}

.footer i {
  font-size: 1.5rem;
  margin-right: 10px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.footer-grid .card {
  margin: 20px 30px 20px 0;
}

.footer .copyright {
  padding-top: 20px;
  color: #ccc;
}

/* utilities classes */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-sm {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

.card {
  background: #fff;
  color: #000;
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.btn {
  display: inline-block;
  background: var(--light-button);
  padding: 13px 20px;
  color: #333;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background: var(--blue-button);
  color: #fff;
}

/* Text classes */
.text-xxl {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
  margin: 40px 0 20px;
}

.text-xl {
  font-size: 2.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 40px 0 20px;
}

.text-l {
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 30px 0 20px;
}

.text-md {
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 20px 0 10px;
}

.text-sm {
  font-size: 0.9rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 10px 0 5px;
}

.text-center {
  text-align: center;
}

/* Background */
.bg-black {
  background: var(--bg-black);
  color: #fff;
}

.bg-light {
  background: #f4f4f6;
  color: #000;
}

/* Hamburger button */
.hamburger-button{
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index:100;
}

.hamburger-button .hamburger-line{
  width: 30px;
  height: 3px;
  background: #333;
  margin:6px 0;
}

.mobile-menu{
  position: fixed;
  top:0;
  right:-400px;
  width: 250px;
  height: 100%;
  z-index: 50;
  background: var(--card-bg--white);
  box-shadow: 0px 0px 10px rgba(0,0,0,.2);
  transition: all .4s ease-in;
  -webkit-transition: all .4s ease-in;
  -moz-transition: all .4s ease-in;
  -ms-transition: all .4s ease-in;
  -o-transition: all .4s ease-in;
}

.mobile-menu.active{
  right:0;
}

.mobile-menu ul{
  margin-top: 100px;
  padding-right: 10px;
}

.mobile-menu ul li{
  margin: 10px 0;
}

.mobile-menu ul li a{
  font-size: 20px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

@media (max-width:768px) {
  .text-xxl{
    font-size: 2.5rem;
  }

  .navbar ul{
    display: none;
  }

  .navbar .container{
    padding:0 10px;
  }

  .navbar .hamburger-button{
    display: block;
  }

  .hero .container{
    background: url('/image/mobile-hero.png') no-repeat;
    background-size: 400px 400px;
    background-position: bottom;
    height: 770px;
  }

  .hero .hero-content,
  .hero .hero-text{
    text-align: center;
    width: 100%;
  }

  .hero .hero-text{
    padding: auto;
    margin-bottom: 20px;
  }

  .hero .hero-btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero .hero-btns .btn{
    margin-bottom: 20px;
  }

  .testimonial .testimonial-heading{
    text-align: center;
    width: 100%;
  }

  .testimonial .testimonial-grid,
  .pricing .pricing-grid,
  .footer .footer-grid{
    grid-template-columns: 1fr;
  }

  .footer .card{
    margin-right: 0;
  }

  .footer .footer-grid > div{
    text-align: center;
  }

  /* text */
  .text-xl{
    font-size: 1.9rem;
  }

  .text-l{
    font-size: 1.5rem;
  }

  .text-md{
    font-size: 1.1rem;
  }

  .footer .copyright{
    width: 100%;
    text-align: center;
  }
}

@media (max-width:500px) {
  
  .hero .hero-btns .btn{
    display:block;
    width: 100%;
    margin-bottom: 20px;
  }

  .text-xxl{
    font-size: 2rem;
  }
}

@media (max-width:400px) {
  .hero .container{
    background: url('/image/mobile-hero.png') no-repeat;
    background-size: 90% 400px;
    background-position: bottom;
    height: 770px;
  }
}
